.container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100vh;
  background-color: rgb(21, 23, 32);
}

.name {
  color: #633BBC;
  font-size: 48px;
  font-weight: 700;
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(0.25turn, rgb(130, 34, 255), rgba(255,0,128), rgba(30, 0, 85, 0));
  border-image-slice: 1;
}

.subtitle {
  color: #8266bd;
  font-size: 24px;
  border-bottom: 0.5px solid #39393a;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.container-about {
  padding: 16px;
}

.about {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
}

.about-content {
  max-width: 800px;
  width: auto;
  color: #a8a8b3;
  font-weight: 300;
  font-size: 16px;
}

.container-conversor {
  background-color: #000;
  height: 600px;
  width: 100%;
}

.container-contact {
  background-color: rgb(21, 23, 32);
  height: 400px;
  width: 100%;
}

.container-coins {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: antiquewhite;
  flex-wrap: wrap;
  padding-top: 20px;
}

.container-images {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: antiquewhite;
  flex-wrap: wrap;
  padding-top: 20px;
}

.container-info {
  display: flex;
  justify-content: space-evenly;
  color: antiquewhite;
  padding-top: 20px;
  list-style: none;
}

.image-coin {
  max-width: 140px;
  max-height: 140px;
  width: auto;
  height: auto;
}